= form_for @stop, html: { class: "form form-horizontal stop" } do |f|
  .form-group
    = f.label :name, class: 'control-label'
    .controls
      = f.text_field :name, class: 'form-control', required: true
    = error_span(@stop[:name])
  .form-group
    = f.label :latitude, class: 'control-label'
    .controls
      = f.text_field :latitude, class: 'form-control', required: true
    = error_span(@stop[:latitude])
  .form-group
    = f.label :longitude, class: 'control-label'
    .controls
      = f.text_field :longitude, class: 'form-control', required: true
    = error_span(@stop[:longitude])
  = f.submit nil,class: 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), stops_path, :class => 'btn btn-default'
